<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <header>
        <h1 class="brand-logo"><a href="index.html">DZR RESTO</a></h1>
        <nav>
            <ul class="nav-menu">
                <li class="menu-item"><a href="index.html">Home</a></li>
                <li class="menu-item"><a href="#">Favorite</a></li>
                <li class="menu-item"><a href="https://github.com/deri-kurniawan" target="_blank">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero" style="background: url(./images/heros/hero-image_2.jpg)">
            <h1 class="hero-title">DZR RESTO</h1>
            <p class="hero-description">Explore Your Favorite Restaurant</p>
        </div>

        <h1 class="section-title">Explore Restaurant</h1>

        <div class="restaurant-list"></div>
    </main>

    <footer>
        <p>&copy; Copyright 2021 - <strong>DZR RESTO</strong></p>
    </footer>
</body>

</html>